<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.0.8223.0">
	<connectionStrings>
		<add connectionString="data source=LUONGBAOTIN\MAY1;UID=sa;PWD=TinTMA@123123;initial catalog=SFDemoDB" name="Sitefinity" />
	</connectionStrings>
</dataConfig>